.card h5.card-title {
    font-weight: 600;
}

.card p {
    font-size: 16px !important;
}



div.title h1 {
    margin: 20px auto;
}

div.news {
    /* position: relative; */
    /* border: 1px solid; */
    /* background-color: lightgray; */
    position: relative;
    border: 2px solid #000;
    background-color: #19367f;
    color: #fff;
    box-shadow: 10px 5px 15px 0 #000;
}

div.news img {
    width: 100%;
}

div.news a {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* Like News */
span.likeNews {
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 10px;*/
    /*font-size: 20px;*/
    cursor: pointer;
}

span.likeNews:hover {
    color: #e8a348;
}

span.activeLike {
    color: #e8a348;
}

span.activeLike:hover {
    color: #fff !important;
}

span.likesCount {
    position: relative;
    cursor: pointer;
}

span.likesCount:hover div.likedUsers {
    display: block !important;
}

span.likesCount div.likedUsers {
    position: absolute;
    background-color: #000;
    z-index: 1;
    padding: 10px;
    top: 25px;
    display: none;
}

span.likesCount div.likedUsers:before {
    content:"";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
}

/* Search News */
input.invalid-input {
    border-bottom: 1px solid #EA0015 !important;
    -webkit-box-shadow: 0 1px 0 0 #EA0015 !important;
    box-shadow: 0 1px 0 0 #EA0015 !important;
}


/* Media */
@media screen and (max-width: 767px){
    div.news div img {
        width: auto;
    }

    div.news div {
        text-align: center;
    }

    div.news div.likes span {
        display: none;
    }
}

@media screen and (max-width: 700px){
    div.comment_block {
        width: 95%;
    }

    div.comment_block h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    div.user_avatar {
        display: none;
    }

    input#createComment {
        font-size: 15px;
    }

    div.input_comment {
        width: calc(100% - 25px) !important;
    }

    .comment_block .new_comment .user_comment {
        padding-left: 0 !important;
    }

    .comment_block .new_comment .comment_body {
        width: calc(100% - 15px) !important;
    }
}
