.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a.closeLeftBar {
    position: absolute;
    right: 0;
    top: 0;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

footer {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Alert Messages */

#messageAlert {
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 20px;
}

.closeAlert {
    cursor: pointer;
    padding: 5px;
}

.w-10 {
    width: 10%;
}


/* Ckeditor Styles */

.ck.ck-editor {
    width: 100%;
}

/* Edit Languages */

th.lang {
    font-variant: small-caps;
    font-size: 25px;
}

input[type=checkbox] + label {
    /*display: block;*/
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    padding-left: .5em;
    padding-top: .2em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
    font-size: 13px;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

/* Three Points */
span.threePoints {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;
    display: block;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
